apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld-app
spec:
  selector:
    matchLabels:
      app: web
  replicas: 1
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - image: "davidfowl/featherweb"
          name: web
