@page

<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.3/css/uikit.min.css" integrity="sha256-HIP+sqi+RdkItMKn/j5gVi5RhRh9DchbnSV2t24HyrI=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.3/js/uikit.min.js" integrity="sha256-tGXRrRuyLQw+N48YqoAlE0cSvanAo6f/gTiDaZy4BtQ=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="uk-container">
            <h1>Welcome to Feather</h1>
            <img src="https://source.unsplash.com/FL6rma2jePU/800x800" alt="Feather" />
        </div>
    </body>
</html>